extends layout

block content
  .container-fluid
    h1.text-center= title
    .row
        .col-md-6.mr-auto.ml-auto
            .text-center
                -if(errMessage)
                    h4
                        span.badge.badge-secondary.badge-danger=errMessage
                -if(message)
                    h4
                        span.badge.badge-secondary.badge-success=message
                        
            p.text-center
                a(href="./view") View
            form(action="/", method="post")
                .form-group
                  label.formLabels(for="firstName") First Name:
                  input(type="text", name="firstName", class=(fNameMessage)?"form-control is-invalid":"form-control")
                  -if(fNameMessage)
                    .invalid-feedback
                        p=fNameMessage
                .form-group
                  label.formLabels(for="lastName") Last Name:
                  input(type="text", name="lastName", class=(lNameMessage)?"form-control is-invalid":"form-control")
                  -if(lNameMessage)
                    .invalid-feedback
                        p=lNameMessage
                .form-group
                  label.formLabels(for="department") Department:
                  select(name="department" class=(deptMessage)?"form-control is-invalid":"form-control")
                      option(value='0', disabled, selected=true) -- Select --
                      each val in ['IT','HR','Sales','Accounting']
                          option= val
                  -if(deptMessage)
                    .invalid-feedback
                        p=deptMessage
                .form-group
                  label.formLabels(for="startDate") Start Date:
                  input.form-control(type="date", name="startDate", class=(startDateMessage)?"form-control is-invalid":"form-control")
                  -if(startDateMessage)
                    .invalid-feedback
                        p=startDateMessage
                .form-group
                  label.formLabels(for="jobTitle") Job Title:
                  input.form-control(type="text", name="jobTitle", class=(jobTitleMessage)?"form-control is-invalid":"form-control")
                  -if(jobTitleMessage)
                    .invalid-feedback
                        p=jobTitleMessage
                .form-group
                  label.formLabels(for="salary") Salary:
                  input.form-control(type="number", name="salary", class=(salaryMessage)?"form-control is-invalid":"form-control")
                  -if(salaryMessage)
                    .invalid-feedback
                        p=salaryMessage
                .form-group
                  input.btn.btn-primary.float-right(type="submit" value="Add Employee")
